.page {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #151515;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url("/public/background.gif");

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Poppins", sans-serif;
  line-height: 1;
  font-weight: 900;
  color: #fff;

  a {
    color: #fff;
    text-decoration: none;
  }
}